.post-card {
	width: 100%;
	/* width: 40%; */
	/* height: 50vh; */
	background-color: white;
	/* margin-left: 30%; */
	border-radius: 10px;

	text-overflow: ellipsis;
	overflow-x: hidden;
}

.post-card .user-img {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}
.three-dot {
	padding: 0.7rem;
	color: gray;

	border-radius: 50%;
}
.three-dot:hover {
	background-color: rgba(182, 180, 180, 0.267);
	cursor: pointer;
}

.post-card .user-info p {
	font-size: 80% !important;
	color: rgb(97, 95, 95);
}

.post-card .user-info h5 {
	text-align: left;
	margin-bottom: 0 !important;
	margin-left: 0.7rem !important;
	color: black !important;
}

.post-card .user-info span {
	font-size: 0.8rem !important;
	color: gray;
	margin-bottom: 2rem !important;
	text-align: top;
}

.post-card a {
	text-decoration: none;
}

.post-card .post-text {
	width: 100%;
	/* word-wrap: break-word; */
	text-overflow: ellipsis;
	text-align: left;
}

.post-card .icon-container {
	color: rgba(0, 0, 0, 0.6);
}
.post-card .action-icons {
	padding: 0.7rem;
}
.post-card .action-icons:hover {
	background-color: rgba(182, 180, 180, 0.267);
	cursor: pointer;
	border-radius: 4px;
}

.commentArea {
	border-radius: 20px;
	width: 180%;
	margin-left: 1rem;
	margin-right: 1rem !important;

	margin-bottom: 0.2rem !important ;
}
.main-page-spinner {
	margin-top: 10%;
	margin-bottom: 10%;
}
.comment-item {
	width: 180%;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}

.list-group-item {
	/* width: 200%; */
	background-color: #f2f2f2 !important;
}
.comment-user-avatar {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.comment-spinner {
	margin-left: 100% !important;
	margin-bottom: 1rem;
}
