.top-header-card {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	margin: 1rem;
	/* position: relative; */
}
.images-container {
	position: relative;
}
.header-img {
	width: 100%;
}
.profile-img {
	width: 15%;
	border-radius: 50%;
	border: 3px solid white;
	position: absolute;
	right: 80%;
	top: 65%;
}

.header-text {
	margin-top: 6rem;
}
.btn {
	border-radius: 20px;
	border: 1px solid #2278ce;
}
.btn-primary {
	background-color: #2278ce !important;
}
.btn-secondary {
	background-color: transparent;
	color: #2278ce;
}
.btn-secondary:hover {
	background-color: #2278ce5e;
}

.btn-secondary:active {
	background-color: #2278ce5e;
}

.btn-success {
	background-color: transparent;
	color: gray;
}

.connections,
.contact {
	color: rgb(10, 86, 163);
}

.connections:hover,
.contact:hover {
	text-decoration: underline;
	cursor: pointer;
}
