.top-header-card {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: white;
	border-radius: 10px;
	margin: 1rem;
	font-size: 18px;
	/* position: relative; */
}
.images-container {
	position: relative;
}
.header-img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.profile-img {
	width: 18%;
	border-radius: 50%;
	border: 3px solid white;
	position: absolute;
	right: 76%;
	top: 45%;
}

.edit-profile-icon {
	color: rgb(100, 99, 99);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit-profile-icon:hover {
	background-color: rgba(0, 0, 0, 0.08);
	cursor: pointer;

	border-radius: 50%;
}

.header-text {
	margin-top: 1rem;
}
.btn {
	border-radius: 20px;
	border: 1px solid #2278ce;
}
.btn-primary {
	background-color: #2278ce !important;
}
.btn-secondary {
	background-color: transparent;
	color: #2278ce;
}
.btn-secondary:hover {
	background-color: #2278ce5e;
}

.btn-secondary:active {
	background-color: #2278ce5e;
}

.btn-success {
	background-color: transparent;
	color: gray;
}

.connections,
.contact {
	color: rgb(10, 86, 163);
}

.connections:hover,
.contact:hover {
	text-decoration: underline;
	cursor: pointer;
}

.edit-profile-modal .modal-content {
	margin-bottom: 120%;
	margin-left: -50%;
}

.edit-profile-modal .modal-body {
	max-height: calc(100vh - 210px);
	overflow-y: auto !important;
}
.edit-profile-modal .modal-dialog {
	background-color: transparent !important;
}
.form-disabled-info {
	color: rgb(163, 162, 162);
}

.profile-edit-form label {
	color: gray !important;
}
