#main-msg {
  width: 60%;
  header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  input:nth-of-type(1) {
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    background-color: white;
    padding: 0.5rem 1rem;
  }
  .msg-dialog {
    height: 40%;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  .msg-sender {
    display: flex;
    height: 20%;
    input {
      height: 100%;
      width: 80%;
      margin: 0;
      border: none;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      background-color: white;
      padding: 0.5rem 1rem;
    }
    button {
      height: 100%;
      width: 20%;
      margin: 0;
      border: none;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      background-color: white;
      padding: 0.5rem 1rem;
    }
  }
  .media-uploads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    .media-icons {
      font-size: 1.5rem;
      color: rgba($color: #000000, $alpha: 0.6);
      .fas,
      .far,
      span {
        margin: 0 0.5rem;
      }
    }
    .msg-options {
      button {
        background-color: grey;
        border: none;
        border-radius: 20px;
        width: 60px;
        padding: 0 0.7rem;
        margin-right: 0.5rem;
      }
      .fas {
        font-size: 1.3rem;
        color: rgba($color: #000000, $alpha: 0.6);
      }
    }
  }
}
