.App {
  width: 100%;
  text-align: center;
  background-color: #f3f2ef;
}

#home-page {
  margin-top: 60px;
}

.linkedin-nav {
  width: 100%;
  margin: 0;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: #f8f9fa;
  z-index: 10;
}

nav {
  height: 50px;
}

.navnavbar {
  min-height: auto !important;
  padding: 0.2rem;
}

#navbarSupportedContent {
  height: 100%;
  margin: 0;
  margin-top: 0 !important;
  align-items: center;
}

.col-md-1,
.col-md-4,
.col-md-7 {
  height: 100%;
}

.col-md-1 a img {
  height: 100%;
}

.col-md-4 {
  padding: 0.25rem;
}

.form-inline {
  width: 100%;
}

.form-inline .input-group {
  width: 100%;
}

.form-inline .input-group input {
  width: 100%;
}

.nav-icons {
  font-size: 1.25rem;
  color: rgb(80, 80, 80);
}
.nav-icons:hover {
  color: black;
}
.nav-icon-text {
  margin-top: 2px;
  font-size: 13px !important;
}
.nav-icon-text:hover {
  text-decoration: underline;
}
.footerbutton {
  background-color: white !important;
  border-radius: 0;
  color: black;
}

.search-result-popup {
  position: fixed;
  z-index: 1200;
  top: 9%;
  left: 13%;
  width: 35%;

  max-height: calc(100vh - 210px);
  overflow-y: auto !important;
  overflow-x: hidden;
}

.search-result-popup .list-group-item:hover {
  cursor: pointer;
}
.search-result-popup a {
  text-decoration: none;
  color: black;
}
.search-result-popup .user-avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.search-result-popup .user-name {
  font-weight: bold;
  margin-left: 0;
}
.search-result-popup .user-info {
  color: rgb(97, 96, 96);
  font-size: 13px;
  margin-top: 0.11rem !important;
}

.navul {
  list-style-type: none;
  margin: 0;
}

.navli {
  display: inline;
  margin: 19px;
}
.navnavbar {
  align-items: center;
  display: flex;
  margin: 0 auto;
  min-height: 100%;
  width: 1128px;
}
.card-header {
  background: rgb(136, 140, 162);
  background: linear-gradient(
    90deg,
    rgba(136, 140, 162, 1) 57%,
    rgba(144, 146, 165, 1) 57%,
    rgba(230, 214, 202, 1) 82%,
    rgba(193, 195, 191, 1) 82%,
    rgba(89, 140, 161, 1) 100%
  );
}
.discover:hover {
  background-color: rgb(228, 215, 215);
}

.text-left {
  color: grey;
}

.editAdd {
  border-radius: 13px;
}

.links:hover {
  text-decoration: underline;
}
