.App {
  width: 100%;
  text-align: center;
  background-color: #f3f2ef;
}
.nav-icons {
  font-size: 25px;
  color: rgb(80, 80, 80);
}
.nav-icons:hover {
  color: black;
}
.nav-icon-text {
  margin-top: 2px;
  font-size: 13px !important;
}
.nav-icon-text:hover {
  text-decoration: underline;
}
.footerbutton {
  background-color: white !important;
  border-radius: 0;
  color: black;
}
.navul {
  list-style-type: none;
  margin-top: 20px;
}

.navli {
  display: inline;
  margin: 19px;
}
.navnavbar {
  align-items: center;
  display: flex;
  margin: 0 auto;
  min-height: 100%;
  width: 1128px;
}
